In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler

In [2]:
testdf = pd.read_csv('X_Test.csv')
traindf = pd.read_csv('X_Train.csv')
payers = pd.read_csv('payers.csv')
nonPayers = pd.read_csv('nonpayers.csv')

dfs = [testdf, traindf]
for df in dfs:
    df.set_index(['Loan_ID'], inplace = True)

# Colums

In [3]:
for col in traindf.columns.tolist():
    print(col)

Gender
Married
Dependents
Education
Self_Employed
ApplicantIncome
CoapplicantIncome
LoanAmount
Loan_Amount_Term
Credit_History
Property_Area

In [4]:
traindf.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
Loan_ID,,,,,,,,,,,
LP001002,1,0,0,1,0,5849,0,0,360,1,1
LP001003,1,1,1,1,0,4583,1508,128,360,1,0
LP001005,1,1,0,1,1,3000,0,66,360,1,1
LP001006,1,1,0,0,0,2583,2358,120,360,1,1
LP001008,1,0,0,1,0,6000,0,141,360,1,1

In [5]:
testdf.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
Loan_ID,,,,,,,,,,,
LP001015,1,1,0,1,0,5720,0,110,360,1,1
LP001022,1,1,1,1,0,3076,1500,126,360,1,1
LP001031,1,1,2,1,0,5000,1800,208,360,1,1
LP001035,1,1,2,1,0,2340,2546,100,360,0,1
LP001051,1,0,0,0,0,3276,0,78,360,1,1

# Unique values in each columns

In [6]:
for df in dfs:
    for col in df:
        print(col, ":", df[col].unique())
    print('==============================================================================================')

Gender : [1 0]
Married : [1 0]
Dependents : [0 1 2 3]
Education : [1 0]
Self_Employed : [0 1]
ApplicantIncome : [ 5720  3076  5000  2340  3276  2165  2226  3881 13633  2400  3091  2185
  4166 12173  4666  5667  4583  3786  9226  1300  1888  2083  3909  3765
  5400     0  4363  7500  3772  2942  2478  6250  3268  2783  2740  3150
  7350  2267  5833  3643  5629  3644  1750  6500  3666  4260  4163  2356
  6792  8000  2419  3500  4116  5293  2750  4402  3613  2779  4720  2415
  7016  4968  2101  4490  2917  4700  3445  7666  2458  3250  4463  4083
  3900  4750  3583  3189  6356  3413  7950  3829 72529  4136  8449  4456
  4635  3571  3066  3235  5058  3188 13518  4364  4766  4609  6260  3333
  9719  6835  4452  2262  3901  2687  2243  3417  1596  4513  4500  4523
  4742  4082  2922  4167  4243  1516  1762   724  3125  2333  3350  2500
 12500  4667  3073  3321  3391  3343  3620  4000  4258  2014  4727  3089
  6794 32000 10890 12941  8703  5900  3071  2463  4855  1599  4246  4333
  5823  7895  4150  2964  5583  2708  3180  2268  1141  3042  3564  3958
  4483  5225  3017  2431  4912  2918  5128 15312  4334  4358 10166  4521
  9167 13083  7874  3785  2654 10000  4796  2000  2540  1900  8706  2855
  3016  3159  1937  2613  4960  3074  4213  2038  2362  5333  5384  5708
  3754  2914  2747  7830  3507  3747  2166  2896  5062  5184  2545  2553
  3436  2412  5180 14911  2860  1173  7600  2157  2231  2274  6166  2513
  3844  3887  3510  2539  2107  3186  3943  2925  3242  3863  4028  4010
  3719  2858  3833  3007  1850  2792  2982 18840  2995  3579  3835  3854
  3508  1635 24797  2773  5769  3634 29167  5530  9000  8750  1972  4983
  8333  3667  3166  3271  2241  1792  2666  6478  3808  3729  4120  6300
 14987   570  2600  2733  3859  6825  3708  5314  2366  2066  3767  7859
  4283  1700  4768  3083  2667  1647  3400 16000  2875  5041  6958  5509
  9699  3621  4709  3015  2292  2360  2623  3972  3522  6858  8334  2868
  3418  8667  2283  5817  5119  5316  7603  3791  3132  8550  2269  4009
  4158  9200]
CoapplicantIncome : [    0  1500  1800  2546  3422  2400  1516  2916   333  7916  3470  1620
  4380 24000  1250  3750   833  2382   820  1683  2708  1541  4029  2792
  1963   818  2024  2600  3900  1475  1902  3338   250  1707  3077  1000
  3539  3664  1721   292  3583  5105  1775  2094  3435  2367  4053  1103
  8000  1917  2015  2286  2500  1646  2333  4200  3250  2233  1287  1760
  1350  3396  4754  4123  2900  2666  3510  3803  1560  6414  2088  1270
  1517  2925  2999   528   717  4309  1456  2360  2474  4246  2291  2529
  4256  2370  2017  3167  2935  2845  1820  4614  3333  2632  2945  3917
   750  1184  3967  2912  1998  2690  1600   700  1442   542  1300  2374
  1152  2417  1083  4027  3719  2130  2458  2183  3148  2139  2166  2168
  1768  3809  2755 14507  2988  1594  1788  2774  5211 13983  1110   828
  1704  3145   437  1025  1585  4288  3725  4583  2619  1550   738  1120
  3308  1400  3575  2444  3916   440  1497   910  2057 11666  2730  4347
  4000  2000  2833  2565  2125  4700  5272  2108   879  2738  1542  1762
  5000  2416   618  1411  1658  2717  1951  1558  3355  4831  4275  1966
  1380   296 15000  3769   187  1213  1936  2667  4255  2167  1777   709
  1993  2393]
LoanAmount : [110 126 208 100  78 152  59 147 280 123  90 162  40 166 124 131 200 300
  48  28 101 125 290 148 140 275  57  75 192 158 176 185 116 138  84 108
 187 120 160  30  92 130 134 189 135 188  95  65 139 232 144 155 186  50
   0 163 360 149 257 102  77 390 256  61 107 119 165  93 122 157 180  80
 104 213 146  71 225  70 132 105  83 103 150 550 260 199 113 117  72 214
 133 143 209 170  94  79 159 173 235 336  96 128 412 114 115  88  55 118
 212  74  66  64 142 151  81 171 234 184 112  49  99 240 460 297 106 141
 145 177  68 183 121 153  67 181  35  46  87 137 254 109 197  85  60  76
  98]
Loan_Amount_Term : [360 240 180   0  60 480  84  12 300 350  36 120   6]
Credit_History : [1 0]
Property_Area : [1 3 0]
==============================================================================================
Gender : [1 0]
Married : [0 1]
Dependents : [0 1 2 3]
Education : [1 0]
Self_Employed : [0 1]
ApplicantIncome : [ 5849  4583  3000  2583  6000  5417  2333  3036  4006 12841  3200  2500
  3073  1853  1299  4950  3596  3510  4887  2600  7660  5955  3365  3717
  9560  2799  4226  1442  3750  4166  3167  4692  3500 12500  2275  1828
  3667  3748  3600  1800  2400  3941  4695  3410  5649  5821  2645  4000
  1928  3086  4230  4616 11500  2708  2132  3366  8080  3357  3029  2609
  4945  5726 10750  7100  4300  3208  1875  4755  5266  1000  3333  3846
  2395  1378  3988  2366  8566  5695  2958  6250  3273  4133  3620  6782
  2484  1977  4188  1759  4288  4843 13650  4652  3816  3052 11417  7333
  3800  2071  5316  2929  3572  7451  5050 14583  2214  5568 10408  5667
  2137  2957  3692 23803  3865 10513  6080 20166  2014  2718  3459  4895
  3316 14999  4200  5042  6950  2698 11757  2330 14866  1538 10000  4860
  6277  2577  9166  2281  3254 39999  9538  2980  1863  7933  3089  4167
  9323  3707  2439  2237  8000  1820 51763  3522  5708  4344  3497  2045
  5516  6400  1916  4600 33846  3625 39147  2178  2383   674  9328  4885
 12000  6033  3858  4191  3125  8333  1907  3416 11000  4923  3992  3917
  4408  3244  3975  2479  3418  3430  7787  5703  3173  3850   150  3727
  5000  4283  2221  4009  2971  7578  3250  4735  4758  2491  3716  3189
  3155  5500  5746  3463  3812  3315  5819  2510  2965  3406  6050  9703
  6608  2882  1809  1668  3427  2661 16250  3083  6045  5250 14683  4931
  6083  2060  3481  7200  5166  4095  4708  4333  2876  3237 11146  2833
  2620  3900  2750  3993  3103  4100  4053  3927  2301  1811 20667  3158
  3704  4124  9508  3075  4400  3153  4416  6875  4666  2875  1625  2000
  3762 20233  7667  2917  2927  2507  2473  3399  2058  3541  4342  3601
  3166 15000  8666  4917  5818  4384  2935 63337  9833  5503  1830  4160
  2647  2378  4554  2499  3523  6333  2625  9083  8750  2666  2423  3813
  3875  5167  4723  4750  3013  6822  6216  5124  6325 19730 15759  5185
  3062  2764  4817  4310  3069  5391  5941  7167  4566  2346  3010  5488
  9167  9504  1993  3100  3276  3180  3033  3902  1500  2889  2755  1963
  7441  4547  2167  2213  8300 81000  3867  6256  6096  2253  2149  2995
  1600  1025  3246  5829  2720  7250 14880  4606  5935  2920  2717  8624
  6500 12876  2425 10047  1926 10416  7142  3660  7901  4707 37719  3466
  3539  3340  2769  2309  1958  3948  2483  7085  3859  4301  3708  4354
  8334  2083  7740  3015  5191  2947 16692   210  3450  2653  4691  5532
 16525  6700  2873 16667  4350  3095 10833  3547 18333  2435  2699  5333
  3691 17263  3597  3326  4625  2895  6283   645  3159  4865  4050  3814
 20833  3583 13262  3598  6065  3283  2130  5815  2031  3074  4683  3400
  2192  5677  7948  4680 17500  3775  5285  2679  6783  4281  3588 11250
 18165  2550  6133  3617  6417  4608  2138  3652  2239  3017  2768  3358
  2526  2785  6633  2492  2454  3593  5468  2667 10139  3887  4180  3675
 19484  5923  5800  8799  4467  3417  5116 16666  6125  6406  3087  3229
  1782  3182  6540  1836  1880  2787  2297  2165  2726  9357 16120  3833
  6383  2987  9963  5780   416  2894  3676  3987  3232  2900  4106  8072
  7583]
CoapplicantIncome : [    0  1508  2358  4196  1516  2504  1526 10968   700  1840  8106  2840
  1086  3500  5625  1911  1917  2925  2253  1040  2083  3369  1667  3000
  2067  1330  1459  7210  1668  1213  2336  3440  2275  1644  1167  1591
  2200  2250  2859  3796  3449  4595  2254  3066  1875  1774  4750  3022
  4000  2166  1881  2531  2000  2118  4167  2900  5654  1820  2302   997
  3541  3263  3806  3583   754  1030  1126  3600  2333  4114  2283  1398
  2142  2667  8980  2014  1640  3850  2569  1929  7750  1430  2034  4486
  1425  1666   830  3750  1041  1280  1447  3166  3333  1769   736  1964
  1619 11300  1451  7250  5063  2138  5296  2583  2365  2816  2500  1083
  1250  3021   983  1800  1775  2383  1717  2791  1010  1695  2054  2598
  1779  1260  5000  1983  5701  1300  4417  4333  1843  1868  3890  2167
  7101  2100  4250  2209  3447  1387  1811  1560  1857  2223  1842  3274
  2426   800   985  3053  2416  3334  2541  2934  1750  1803  1863  2405
  2134   189  1590  2985  4983  2160  2451  1793  1833  4490   688  4600
  1587  1229  2330  2458  3230  2168  4583  6250   505  3167  3667  3033
  5266  7873  1987   923  4996  4232  1600  3136  2417  2115  1625  1400
   484 20000  2400  2033  3237  2773  1417  1719  4300    16  2340  1851
  1125  5064  1993  8333  1210  1376  1710  1542  1255  1456  1733  2466
  4083  2188  1664  2917  2079  1500  4648  1014  1872  1603  3150  2436
  2785  1131  2157   913  1700  2857  4416  3683  5624  5302  1483  6667
  3013  1287  2004  2035  6666  3666  3428  1632  1915  1742  1424  7166
  2087  1302  5500  2042  3906   536  2845  2524   663  1950  1783  2016
  2375  3250  4266  1032  2669  2306   242  2064   461  2210  2739  2232
 33837  1522  3416  3300  1000 41667  2792  4301  3800  1411   240]
LoanAmount : [  0 128  66 120 141 267  95 158 168 349  70 109 200 114  17 125 100  76
 133 115 104 315 116 112 151 191 122 110  35 201  74 106 320 144 184  80
  47  75 134  96  88  44 286  97 135 180  99 165 258 126 312 136 172  81
 187 113 176 130 111 167 265  50 210 175 131 188  25 137 160 225 216  94
 139 152 118 185 154  85 259 194  93 370 182 650 102 290  84 242 129  30
 244 600 255  98 275 121  63 700  87 101 495  67  73 260 108  58  48 164
 170  83  90 166 124  55  59 127 214 240  72  60 138  42 280 140 155 123
 279 192 304 330 150 207 436  78  54  89 143 105 132 480  56 159 300 376
 117  71 490 173  46 228 308 236 570 380 296 156 103  45  65  53 360  62
 218 178 239 405 148 190 149 153 162 230  86 234 246 500 186 119 107 209
 208 243  40 250 311 400 161 196 324 157 145 181  26 211   9 205  36  61
 146 292 142 350 496 253]
Loan_Amount_Term : [360 120 240   0 180  60 300 480  36  84  12]
Credit_History : [1 0]
Property_Area : [1 0 3]
==============================================================================================

# Description

In [7]:
traindf.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
Loan_ID,,,,,,,,,,,
LP001002,1,0,0,1,0,5849,0,0,360,1,1
LP001003,1,1,1,1,0,4583,1508,128,360,1,0
LP001005,1,1,0,1,1,3000,0,66,360,1,1
LP001006,1,1,0,0,0,2583,2358,120,360,1,1
LP001008,1,0,0,1,0,6000,0,141,360,1,1

In [8]:
dfs = [traindf, testdf]
cols = ['ApplicantIncome', 'CoapplicantIncome', 'LoanAmount', 'Loan_Amount_Term']

for df in dfs:
    print(df[cols].describe())
    print("==========================================================================")

       ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term
count       614.000000          614.00000  614.000000        614.000000
mean       5403.459283         1621.24430  141.166124        334.201954
std        6109.041673         2926.24876   88.340630         82.183884
min         150.000000            0.00000    0.000000          0.000000
25%        2877.500000            0.00000   98.000000        360.000000
50%        3812.500000         1188.50000  125.000000        360.000000
75%        5795.000000         2297.25000  164.750000        360.000000
max       81000.000000        41667.00000  700.000000        480.000000
==========================================================================
       ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term
count       367.000000         367.000000  367.000000        367.000000
mean       4805.599455        1569.577657  134.277929        336.937330
std        4910.685399        2334.232099   62.961426         77.896203
min           0.000000           0.000000    0.000000          0.000000
25%        2864.000000           0.000000  100.000000        360.000000
50%        3786.000000        1025.000000  125.000000        360.000000
75%        5060.000000        2430.500000  157.500000        360.000000
max       72529.000000       24000.000000  550.000000        480.000000
==========================================================================

# Some insights on payer and non Loan payers data

In [9]:
dfs = [payers, nonPayers]
for df in dfs:
    df.drop(['Loan_Status'], axis = 1, inplace = True)
    print(df)
    print('========================================================================')

      Loan_ID  Gender  Married  Dependents  Education  Self_Employed  \
0    LP001002     1.0      0.0           0          1            0.0
1    LP001005     1.0      1.0           0          1            1.0
2    LP001006     1.0      1.0           0          0            0.0
3    LP001008     1.0      0.0           0          1            0.0
4    LP001011     1.0      1.0           2          1            1.0
5    LP001013     1.0      1.0           0          0            0.0
6    LP001018     1.0      1.0           2          1            0.0
7    LP001024     1.0      1.0           2          1            0.0
8    LP001027     1.0      1.0           2          1            0.0
9    LP001028     1.0      1.0           2          1            0.0
10   LP001030     1.0      1.0           2          1            0.0
11   LP001032     1.0      0.0           0          1            0.0
12   LP001034     1.0      0.0           1          0            0.0
13   LP001041     1.0      1.0           0          1            0.0
14   LP001046     1.0      1.0           1          1            0.0
15   LP001066     1.0      1.0           0          1            1.0
16   LP001068     1.0      1.0           0          1            0.0
17   LP001073     1.0      1.0           2          0            0.0
18   LP001087     0.0      0.0           2          1            0.0
19   LP001098     1.0      1.0           0          1            0.0
20   LP001106     1.0      1.0           0          1            0.0
21   LP001112     0.0      1.0           0          1            0.0
22   LP001114     1.0      0.0           0          1            0.0
23   LP001116     1.0      0.0           0          0            0.0
24   LP001120     1.0      0.0           0          1            0.0
25   LP001123     1.0      1.0           0          1            0.0
26   LP001131     1.0      1.0           0          1            0.0
27   LP001136     1.0      1.0           0          0            1.0
28   LP001137     0.0      0.0           0          1            0.0
29   LP001138     1.0      1.0           1          1            0.0
..        ...     ...      ...         ...        ...            ...
392  LP002836     1.0      0.0           0          1            0.0
393  LP002842     1.0      1.0           1          1            0.0
394  LP002855     1.0      1.0           2          1            0.0
395  LP002868     1.0      1.0           2          1            0.0
396  LP002874     1.0      0.0           0          1            0.0
397  LP002877     1.0      1.0           1          1            0.0
398  LP002888     1.0      0.0           0          1            0.0
399  LP002892     1.0      1.0           2          1            0.0
400  LP002894     0.0      1.0           0          1            0.0
401  LP002916     1.0      1.0           0          1            0.0
402  LP002917     0.0      0.0           0          0            0.0
403  LP002925     0.0      0.0           0          1            0.0
404  LP002928     1.0      1.0           0          1            0.0
405  LP002933     0.0      0.0           3          1            1.0
406  LP002936     1.0      1.0           0          1            0.0
407  LP002938     1.0      1.0           0          1            1.0
408  LP002940     1.0      0.0           0          0            0.0
409  LP002945     1.0      1.0           0          1            1.0
410  LP002948     1.0      1.0           2          1            0.0
411  LP002950     1.0      1.0           0          0            0.0
412  LP002953     1.0      1.0           3          1            0.0
413  LP002958     1.0      0.0           0          1            0.0
414  LP002959     0.0      1.0           1          1            0.0
415  LP002961     1.0      1.0           1          1            0.0
416  LP002964     1.0      1.0           2          0            0.0
417  LP002974     1.0      1.0           0          1            0.0
418  LP002978     0.0      0.0           0          1            0.0
419  LP002979     1.0      1.0           3          1            0.0
420  LP002983     1.0      1.0           1          1            0.0
421  LP002984     1.0      1.0           2          1            0.0

     ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
0               5849                0.0         0.0             360.0
1               3000                0.0        66.0             360.0
2               2583             2358.0       120.0             360.0
3               6000                0.0       141.0             360.0
4               5417             4196.0       267.0             360.0
5               2333             1516.0        95.0             360.0
6               4006             1526.0       168.0             360.0
7               3200              700.0        70.0             360.0
8               2500             1840.0       109.0             360.0
9               3073             8106.0       200.0             360.0
10              1299             1086.0        17.0             120.0
11              4950                0.0       125.0             360.0
12              3596                0.0       100.0             240.0
13              2600             3500.0       115.0               0.0
14              5955             5625.0       315.0             360.0
15              9560                0.0       191.0             360.0
16              2799             2253.0       122.0             360.0
17              4226             1040.0       110.0             360.0
18              3750             2083.0       120.0             360.0
19              3500             1667.0       114.0             360.0
20              2275             2067.0         0.0             360.0
21              3667             1459.0       144.0             360.0
22              4166             7210.0       184.0             360.0
23              3748             1668.0       110.0             360.0
24              1800             1213.0        47.0             360.0
25              2400                0.0        75.0             360.0
26              3941             2336.0       134.0             360.0
27              4695                0.0        96.0               0.0
28              3410                0.0        88.0               0.0
29              5649                0.0        44.0             360.0
..               ...                ...         ...               ...
392             3333                0.0        70.0             360.0
393             3417             1750.0       186.0             360.0
394            16666                0.0       275.0             360.0
395             3159              461.0       108.0              84.0
396             3229             2739.0       110.0             360.0
397             1782             2232.0       107.0             360.0
398             3182             2917.0       161.0             360.0
399             6540                0.0       205.0             360.0
400             3166                0.0        36.0             360.0
401             2297             1522.0       104.0             360.0
402             2165                0.0        70.0             360.0
403             4750                0.0        94.0             360.0
404             3000             3416.0        56.0             180.0
405             9357                0.0       292.0             360.0
406             3859             3300.0       142.0             180.0
407            16120                0.0       260.0             360.0
408             3833                0.0       110.0             360.0
409             9963                0.0       180.0             360.0
410             5780                0.0       192.0             360.0
411             2894             2792.0       155.0             360.0
412             5703                0.0       128.0             360.0
413             3676             4301.0       172.0             360.0
414            12000                0.0       496.0             360.0
415             3400             2500.0       173.0             360.0
416             3987             1411.0       157.0             360.0
417             3232             1950.0       108.0             360.0
418             2900                0.0        71.0             360.0
419             4106                0.0        40.0             180.0
420             8072              240.0       253.0             360.0
421             7583                0.0       187.0             360.0

     Credit_History  Property_Area
0               1.0              1
1               1.0              1
2               1.0              1
3               1.0              1
4               1.0              1
5               1.0              1
6               1.0              1
7               1.0              1
8               1.0              1
9               1.0              1
10              1.0              1
11              1.0              1
12              0.0              1
13              1.0              1
14              1.0              1
15              1.0              3
16              1.0              3
17              1.0              1
18              1.0              3
19              1.0              3
20              1.0              1
21              1.0              3
22              1.0              1
23              1.0              3
24              1.0              1
25              0.0              1
26              1.0              3
27              1.0              1
28              1.0              1
29              1.0              1
..              ...            ...
392             1.0              1
393             1.0              1
394             1.0              1
395             1.0              1
396             1.0              1
397             1.0              0
398             1.0              1
399             1.0              3
400             1.0              3
401             1.0              1
402             1.0              3
403             1.0              3
404             1.0              3
405             1.0              3
406             1.0              0
407             1.0              1
408             1.0              0
409             1.0              0
410             1.0              1
411             1.0              0
412             1.0              1
413             1.0              0
414             1.0              3
415             1.0              3
416             1.0              0
417             1.0              0
418             1.0              0
419             1.0              0
420             1.0              1
421             1.0              1

[422 rows x 12 columns]
========================================================================
      Loan_ID  Gender  Married  Dependents  Education  Self_Employed  \
0    LP001003     1.0      1.0           1          1            0.0
1    LP001014     1.0      1.0           3          1            0.0
2    LP001020     1.0      1.0           1          1            0.0
3    LP001029     1.0      0.0           0          1            0.0
4    LP001036     0.0      0.0           0          1            0.0
5    LP001038     1.0      1.0           0          0            0.0
6    LP001043     1.0      1.0           0          0            0.0
7    LP001047     1.0      1.0           0          0            0.0
8    LP001050     0.0      1.0           2          0            0.0
9    LP001052     1.0      1.0           1          1            0.0
10   LP001086     1.0      0.0           0          0            0.0
11   LP001091     1.0      1.0           1          1            0.0
12   LP001095     1.0      0.0           0          1            0.0
13   LP001097     1.0      0.0           1          1            1.0
14   LP001100     1.0      0.0           3          1            0.0
15   LP001109     1.0      1.0           0          1            0.0
16   LP001119     1.0      0.0           0          1            0.0
17   LP001146     0.0      1.0           0          1            0.0
18   LP001164     0.0      0.0           0          1            0.0
19   LP001179     1.0      1.0           2          1            0.0
20   LP001186     0.0      1.0           1          1            1.0
21   LP001197     1.0      1.0           0          1            0.0
22   LP001207     1.0      1.0           0          0            1.0
23   LP001213     1.0      1.0           1          1            0.0
24   LP001222     0.0      0.0           0          1            0.0
25   LP001225     1.0      1.0           0          1            0.0
26   LP001228     1.0      0.0           0          0            0.0
27   LP001241     0.0      0.0           0          1            0.0
28   LP001250     1.0      1.0           3          0            0.0
29   LP001255     1.0      0.0           0          1            0.0
..        ...     ...      ...         ...        ...            ...
162  LP002684     0.0      0.0           0          0            0.0
163  LP002697     1.0      0.0           0          1            0.0
164  LP002723     1.0      0.0           2          1            0.0
165  LP002729     1.0      0.0           1          1            0.0
166  LP002739     1.0      1.0           0          0            0.0
167  LP002743     0.0      0.0           0          1            0.0
168  LP002768     1.0      0.0           0          0            0.0
169  LP002776     0.0      0.0           0          1            0.0
170  LP002778     1.0      1.0           2          1            1.0
171  LP002788     1.0      1.0           0          0            0.0
172  LP002789     1.0      1.0           0          1            0.0
173  LP002832     1.0      1.0           2          1            0.0
174  LP002837     1.0      1.0           3          1            0.0
175  LP002840     0.0      0.0           0          1            0.0
176  LP002841     1.0      1.0           0          1            0.0
177  LP002847     1.0      1.0           0          1            0.0
178  LP002862     1.0      1.0           2          0            0.0
179  LP002863     1.0      1.0           3          1            0.0
180  LP002872     0.0      1.0           0          1            0.0
181  LP002893     1.0      0.0           0          1            0.0
182  LP002898     1.0      1.0           1          1            0.0
183  LP002911     1.0      1.0           1          1            0.0
184  LP002912     1.0      1.0           1          1            0.0
185  LP002926     1.0      1.0           2          1            1.0
186  LP002931     1.0      1.0           2          1            1.0
187  LP002941     1.0      1.0           2          0            1.0
188  LP002943     1.0      0.0           0          1            0.0
189  LP002949     0.0      0.0           3          1            0.0
190  LP002960     1.0      1.0           0          0            0.0
191  LP002990     0.0      0.0           0          1            1.0

     ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
0               4583             1508.0       128.0             360.0
1               3036             2504.0       158.0             360.0
2              12841            10968.0       349.0             360.0
3               1853             2840.0       114.0             360.0
4               3510                0.0        76.0             360.0
5               4887                0.0       133.0             360.0
6               7660                0.0       104.0             360.0
7               2600             1911.0       116.0             360.0
8               3365             1917.0       112.0             360.0
9               3717             2925.0       151.0             360.0
10              1442                0.0        35.0             360.0
11              4166             3369.0       201.0             360.0
12              3167                0.0        74.0             360.0
13              4692                0.0       106.0             360.0
14             12500             3000.0       320.0             360.0
15              1828             1330.0       100.0               0.0
16              3600                0.0        80.0             360.0
17              2645             3440.0       120.0             360.0
18              4230                0.0       112.0             360.0
19              4616                0.0       134.0             360.0
20             11500                0.0       286.0             360.0
21              3366             2200.0       135.0             360.0
22              2609             3449.0       165.0             180.0
23              4945                0.0         0.0             360.0
24              4166                0.0       116.0             360.0
25              5726             4595.0       258.0             360.0
26              3200             2254.0       126.0             180.0
27              4300                0.0       136.0             360.0
28              4755                0.0        95.0               0.0
29              3750                0.0       113.0             480.0
..               ...                ...         ...               ...
162             3400                0.0        95.0             360.0
163             4680             2087.0         0.0             360.0
164             3588                0.0       110.0             360.0
165            11250                0.0       196.0             360.0
166             2917              536.0        66.0             360.0
167             2138                0.0        99.0             360.0
168             3358                0.0        80.0              36.0
169             5000                0.0       103.0             360.0
170             6633                0.0         0.0             360.0
171             2454             2333.0       181.0             360.0
172             3593             4266.0       132.0             180.0
173             8799                0.0       258.0             360.0
174             3400             2500.0       123.0             360.0
175             2378                0.0         9.0             360.0
176             3166             2064.0       104.0             360.0
177             5116             1451.0       165.0             360.0
178             6125             1625.0       187.0             480.0
179             6406                0.0       150.0             360.0
180             3087             2210.0       136.0             360.0
181             1836            33837.0        90.0             360.0
182             1880                0.0        61.0             360.0
183             2787             1917.0       146.0             360.0
184             4283             3000.0       172.0              84.0
185             2726                0.0       106.0             360.0
186             6000                0.0       205.0             240.0
187             6383             1000.0       187.0             360.0
188             2987                0.0        88.0             360.0
189              416            41667.0       350.0             180.0
190             2400             3800.0         0.0             180.0
191             4583                0.0       133.0             360.0

     Credit_History  Property_Area
0               1.0              0
1               0.0              3
2               1.0              3
3               1.0              0
4               0.0              1
5               1.0              0
6               0.0              1
7               0.0              3
8               0.0              0
9               0.0              3
10              1.0              1
11              0.0              1

In [10]:
dfs = [payers, nonPayers]
for df in dfs:
    print(df[cols].describe())
    print("==========================================================================")

       ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term
count       422.000000         422.000000  422.000000        422.000000
mean       5384.068720        1504.516398  140.533175        334.606635
std        5765.441615        1924.754855   87.444357         78.057119
min         210.000000           0.000000    0.000000          0.000000
25%        2877.500000           0.000000   99.000000        360.000000
50%        3812.500000        1239.500000  125.000000        360.000000
75%        5771.500000        2297.250000  160.000000        360.000000
max       63337.000000       20000.000000  700.000000        480.000000
==========================================================================
       ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term
count       192.000000         192.000000  192.000000        192.000000
mean       5446.078125        1877.807292  142.557292        333.312500
std        6819.558528        4384.060103   90.495129         90.807352
min         150.000000           0.000000    0.000000          0.000000
25%        2885.000000           0.000000   95.000000        360.000000
50%        3833.500000         268.000000  126.500000        360.000000
75%        5861.250000        2273.750000  173.000000        360.000000
max       81000.000000       41667.000000  570.000000        480.000000
==========================================================================

In [11]:
print((payers[cols].describe() - nonPayers[cols].describe()))

       ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term
count       230.000000         230.000000  230.000000        230.000000
mean        -62.009405        -373.290894   -2.024116          1.294135
std       -1054.116914       -2459.305247   -3.050773        -12.750233
min          60.000000           0.000000    0.000000          0.000000
25%          -7.500000           0.000000    4.000000          0.000000
50%         -21.000000         971.500000   -1.500000          0.000000
75%         -89.750000          23.500000  -13.000000          0.000000
max      -17663.000000      -21667.000000  130.000000          0.000000